extends ../layout/admin

block contenido
    div.py-10
        h1.text-4xl.my-10.font-extrabold.text-center Toluca
            span.font-normal GrupoInmobiliario
        h2.text-center.text-2xl.font-extrabold=pagina

        a(href="/propiedades/crear" class="rounded py-2 px-10 bg-indigo-600 hover:bg-indigo-800 text-sm font-bold text-center text-white uppercase my-5 inline-block w-full sm:w-auto") Publicar Propiedad

        //-pre= JSON.stringify(propiedades, undefined, 2)
        if propiedades.length

            div(class="bg-white shadow-2xl rounded-lg")
                ul(class="divide-y divide-gray-200")
                    each propiedad in propiedades
                        li
                            div(class="p-6 w-full flex flex-col sm:flex-row sm:items-center sm:justify-between space-y-8 md:space-y-0 gap-4")
                                div(class="sm:w-1/4 md:w-1/6")
                                    img(src=`uploads/${propiedad.imagenes[0].imagenes}` alt=`Imagen propiedad ${propiedad.titulo}` class="w-full block")
                                div(class="sm:w-2/4 md:w-3/6 lg:w-4/6 space-y-3") 
                                    a( class="block text-2xl font-extrabold text-indigo-600 truncate" href="#")=propiedad.titulo

                                    p(class="text-sm text-black font-bold")=propiedad.categoria.nombre

                                    p(class="text-sm text-gray-500 font-bold flex items-center")
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m-3-2.818l.879.659c1.171.879 3.07.879 4.242 0 1.172-.879 1.172-2.303 0-3.182C13.536 12.219 12.768 12 12 12c-.725 0-1.45-.22-2.003-.659-1.106-.879-1.106-2.303 0-3.182s2.9-.879 4.006 0l.415.33M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                                        </svg>
                                        =propiedad.precio.nombre

                                    
                                div(class="sm:w-1/4 md:w-2/6 lg:flex-1 flex flex-col lg:flex-row gap-2")
                                    form(action="#") 
                                        input(type="submit" class=`w-full px-2 py-2 md:py-1 text-xs leading font-semibold rounded cursor-pointer ${propiedad.publicado ? "bg-green-100 text-green-800" : "bg-yellow-100 text-yellow-800"}` value=`${propiedad.publicado ? "Publicado" : "No Publicado"}`)

                                    a(href="#" class="text-center px-2 py-2 md:py-1 text-xs leading font-semibold rounded cursor-pointer bg-indigo-100 text-indigo-800") Editar 

                                    form(action="#") 
                                        input(type="submit" class='w-full px-2 py-2 md:py-1 text-xs leading font-semibold rounded cursor-pointer bg-red-100 text-red-800' value="Eliminar")
        else 
            p.text-center No Hay Propiedades